#header {
    background-color: aliceblue;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

#header h1 {
    font-size: 5em;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,.16);
}
.global-nav {
    position: fixed;
    right: -50%; /* これで隠れる */
    top: 0;
    width: 50%; /* スマホに収まるくらい */
    height: 100vh;
    padding-top: 40px;
    background-color: #fff;
    transition: all .6s;
    z-index: 200;
    overflow-y: auto; /* メニューが多くなったらスクロールできるように */
}
.hamburger {
    position: absolute;
    right: 0;
    top: 0;
    width: 10%; /* クリックしやすいようにちゃんと幅を指定する */
    height: 5em; /* クリックしやすいようにちゃんと高さを指定する */
    cursor: pointer;
    z-index: 300;
    padding: 10px 0;
}
.global-nav__list {
    margin: 0;
    padding-top: 2em;
    list-style: none;
    
}
.global-nav__item {
    text-align: center;
    padding: 1.5em 14px;
    border-bottom: 1px solid #eee;
}
.global-nav__item a {
    display: block;
    padding: 8px 0;
    
    text-decoration: none;
    color: #111;
    font-size: 2em;
}
.global-nav__item a:hover {
    background-color: #eee;
}
.hamburger__line {
    position: absolute;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 3px;
    background-color: #111;
    transition: all .6s;
}
.hamburger__line--1 {
    top: 45%;
    margin: 0 auto;
}
.hamburger__line--2 {
    top: 60%;
}
.hamburger__line--3 {
    top: 75%;
}
.black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    cursor: pointer;
}
/* 表示された時用のCSS */
.nav-open .global-nav {
    right: 0;
}
.nav-open .black-bg {
    opacity: .8;
    visibility: visible;
}
.nav-open .hamburger__line--1 {
    transform: rotate(45deg);
    top: 60%;
    right: 25%;
}
.nav-open .hamburger__line--2 {
    width: 0;
    left: 50%;
}
.nav-open .hamburger__line--3 {
    transform: rotate(-45deg);
    top: 60%;
    right: 25%;
}